/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

body {
  background-color: #373741;
}

/*************************************************
    Header.jsx
 *************************************************/
header {
  background-color: #1d1d27;
  height: 90px;
  color: #ebe3ee;

  a {
    text-decoration: none;
    color: #ebe3ee;
    font-family: "Montserrat", sans-serif;
  }
}

.nav-container {
  margin: 0 auto;
  width: 80%;

  ul {
    list-style: none;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}

/*************************************************
    HomePage.jsx
 *************************************************/
.movies-container {
  height: 400px;
  background-color: #ebe3ee;
  padding: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.movie-card {
  height: 300px;
  background-color: cadetblue;
  width: 260px;
  border-radius: 22px;
  display: flex;
}

.movie-info {
  height: 68px;
  background-color: violet;
  display: flex;
  align-self: end;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
/*************************************************
    MoviePage.jsx
 *************************************************/
.main-container-card-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  /* height: 100vh; */
}

.card {
  position: relative;
  width: 300px;
  height: 420px;
}

.top-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 160px;
  background-color: #c7f5d9;
  border: 3px solid orange;
  border-radius: 20px;
  z-index: 2;
}

.bottom-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 360px;
  background-color: #ffd4d4;
  border: 3px solid red;
  border-radius: 20px;
  z-index: 1;
}
