/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

body {
  background-color: #373741;
}

/*************************************************
    Header.jsx
 *************************************************/
header {
  background-color: #1d1d27;
  height: 90px;
  color: #ebe3ee;

  a {
    text-decoration: none;
    color: #ebe3ee;
    font-family: "Montserrat", sans-serif;
  }
}

.nav-container {
  margin: 0 auto;
  width: 80%;

  ul {
    list-style: none;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}

/*************************************************
    MovieCard.jsx
 *************************************************/
.movie-column {
  cursor: pointer;
}

.movies-container {
  height: 400px;
  padding: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.poster {
  height: 300px;
  background-color: cadetblue;
  width: 260px;
  border-radius: 22px;
  display: flex;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: inherit;
  }
}

.movie-info {
  height: 68px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
/*************************************************
    MoviePage.jsx
 *************************************************/
.main-container {
  width: 40%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #ebe3ee;
}

.movie-info-mp {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box-img {
  height: 300px;
  width: 260px;
  border-radius: 22px;
  object-fit: cover;
}

.box-txt {
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*************************************************
    ReviewCard.jsx
 *************************************************/
.review {
  width: 100%;
}
.review-card {
  height: 60px;
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

hr {
  width: 100%;
  color: #ebe3ee;
}

/*************************************************
    ReviewForm.jsx
 *************************************************/
.new-review-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 9px;
}
