/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

body {
  background: linear-gradient(
    to top right,
    #111118 0%,
    #1a1a22 40%,
    #22222b 100%
  );
  background-attachment: fixed;
}

/*************************************************
    Header.jsx
 *************************************************/
header {
  color: #848695;
  border-bottom: 1px solid #2c2c2c;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.05);
}

.nav-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  h4 {
    text-align: center;
  }
}

/*************************************************
    MovieCard.jsx
 *************************************************/
.movie-column {
  cursor: pointer;
}

.movies-container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 14px;
  margin: 14px;

  a {
    text-decoration: none;
    color: #848695;
  }
}

.poster {
  width: 240px;
  border-radius: 8px;
  display: flex;
  height: 380px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);

  img {
    object-fit: cover;
    width: 100%;
    border-radius: inherit;
  }
}

.movie-info {
  height: 68px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.movie-genre {
  color: #4d4e59;
}
/*************************************************
    MoviePage.jsx
 *************************************************/
.main-container {
  width: 40%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #2c2c2c;
  color: #848695;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.05);
  background-color: rgba(21, 21, 27, 0.6);
}

.movie-info-mp {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box-img {
  width: 260px;
  border-radius: 8px;
  object-fit: cover;
  filter: brightness(0.7);
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.09);
}

.box-txt {
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;

  h3 {
    font-size: 16px;
    text-decoration: underline;
  }

  .dir-year-genre {
    font-size: 9px;
    color: #4d4e59;
  }

  .abstract {
    font-size: 12px;
  }
}

h5 {
  font-size: 12px;
}
/*************************************************
    ReviewCard.jsx
 *************************************************/
.reviews-container {
  margin-top: 30px;
  background-color: #202027;
  border-radius: 10px;
  padding: 10px;
}

.review {
  width: 100%;
}
.review-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-bottom: 1px solid #2c2c2c;
}

/*************************************************
    ReviewForm.jsx
 *************************************************/
.new-review-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  background-color: #202027;
  border-radius: 10px;
  padding: 10px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 9px;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background-color: #2a2a34;
  border-radius: 6px;
  padding: 8px 10px;
  color: #5e5353;
}

input,
textarea,
select,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

button {
  width: 60px;
  height: 28px;
  background-color: #16161c;
  color: white;
  border: transparent;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 12px;
}

button:hover {
  box-shadow: 0 1px 8px rgba(255, 255, 255, 0.09);
  background-color: #e9e9ed;
  color: black;
}
